/* General styles */
body {
  margin: 0;
  padding: 0;
}

/* Nav Bar Styles Here  */

.navbar-1 {
  background-color: #393285;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
}

.collapse-nav {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.btn-Nav {
  width: 234px;
  height: 36px;
  font-family: ABeeZee;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  color: #393285;
  background-color: #ffffff;
  border-radius: 12px;
}
